.clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: ""
}

html, body{
    height:100%;

}

.fl {
    float: left
}

.fr {
    float: right
}

.fz12 {
    font-size: .12rem
}

.fz16 {
    font-size: .16rem
}

.fz18 {
    font-size: .18rem
}

.fz24 {
    font-size: .24rem
}

.fz26 {
    font-size: .26rem
}

.fz28 {
    font-size: .28rem
}

.fz30 {
    font-size: .3rem
}

.fz38 {
    font-size: .38rem
}

.themeColor {
    color: #1B89F8
}

.themeBorderColor {
    border: .02rem solid #1B89F8
}

.themeBgrColor {
    background-color: #1B89F8
}

.c3 {
    color: #333
}

.c6 {
    color: #666
}

.c9 {
    color: #999
}

.ccc {
    color: #ccc
}

.fff {
    color: #fff
}

.lh2 {
    line-height: 1.5em
}

.bold {
    font-weight: 700
}

.tac {
    text-align: center
}

.mt10 {
    margin-top: .1rem
}

.mt20 {
    margin-top: .2rem
}

.mt30 {
    margin-top: .3rem
}

.mb20 {
    margin-bottom: .2rem
}

.colorred {
    color: #f42c35
}

.colorred2 {
    color: #f33452
}

.colorblue {
    color: #3d92e3
}

.color_2A2 {
    color: #2A2A2A
}

.color_FF7 {
    color: #FF7038
}

.color_171 {
    color: #171717
}

.height1 {
    height: 1rem
}

i {
    font-style: normal
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 1rem;
    background-color: #fff
}

.header_logo {
    width: 100%;
    height: 1rem;
    color: #333;
    text-align: center;
    font-size: .34rem;
    line-height: 1rem
}

.header_back {
    position: absolute;
    top: .31rem;
    left: .24rem;
    width: .38rem;
    height: .38rem;
    background: url(../../images/lend/common_icon_title_back.png) center no-repeat;
    background-size: .38rem
}

.header_back1 {
    background: url(../../images/lend/mobile_certification_close.png) center no-repeat;
    background-size: .38rem
}

.header_menu {
    background: url(../../images/lend/common_menu_icon.png) center no-repeat;
    background-size: .38rem
}

.swiper-container {
    margin-top: 0;
    height: 3.5rem;
    background-color: #00c6ff
}

.swiper-slide {
    border: none
}

.swiper-img {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #00c6ff
}

.tabbar {
    position: fixed;
    bottom: 0;
    z-index: 999;
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 7.5rem;
    height: .98rem;
    border-top: .02rem solid #c4c4c4;
    background-color: #fff;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center
}

.tabbar li {
    -webkit-flex: 1;
    flex: 1
}

.tabbar li a {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: .98rem;
    color: #333;
    font-size: .28rem;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center
}

.tabbar li a.cur, .tabbar li a:hover {
    color: #18B5F9
}

.tabbar li:nth-child(1) a {
    background: url(../../images/lend/tabbar_home_default.png) center .1rem no-repeat;
    background-size: .46rem
}

.tabbar li:nth-child(2) a {
    background: url(../../images/lend/tabbar_loan_default.png) center .1rem no-repeat;
    background-size: .46rem
}

.tabbar li:nth-child(3) a {
    background: url(../../images/lend/tabbar_serve_default.png) center .1rem no-repeat;
    background-size: .46rem
}

.tabbar li:nth-child(4) a {
    background: url(../../images/lend/tabbar_my_default.png) center .1rem no-repeat;
    background-size: .46rem
}

.tabbar li:nth-child(1) a.cur, .tabbar li:nth-child(1) a:hover {
    background-image: url(../../images/lend/tabbar_home_selected.png)
}

.tabbar li:nth-child(2) a.cur, .tabbar li:nth-child(2) a:hover {
    background-image: url(../../images/lend/tabbar_loan_selected.png)
}

.tabbar li:nth-child(3) a.cur, .tabbar li:nth-child(3) a:hover {
    background-image: url(../../images/lend/tabbar_serve_selected.png)
}

.tabbar li:nth-child(4) a.cur, .tabbar li:nth-child(4) a:hover {
    background-image: url(../../images/lend/tabbar_my_selected.png)
}

.recommend_cen {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 2.24rem;
    background-color: #fff;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

.recommend_cenli {
    display: -webkit-flex;
    display: flex;
    height: 2.24rem;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.recommend_cenli img {
    margin-bottom: .14rem;
    width: 1.14rem;
    height: 1.14rem;
    border-radius: .57rem
}

.recommend_cenli p {
    color: #4f4f4f;
    font-size: .28rem
}

.recommend_box {
    padding-top: .2rem
}

.recommend_tab {
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: .26rem;
    padding-left: .26rem;
    width: 7.5rem;
    height: 1.5rem;
    background-color: #fff;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center
}

.recommend_tab a {
    display: -webkit-flex;
    display: flex;
    width: 1.62rem;
    height: 1rem;
    border: 0.02rem solid #14B3FF;
    border-radius: .1rem;
    font-family: PingFangSC-Regular;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.recommend_tab a:nth-child(1) {
    border-color: #14B3FF;
    color: #14B3FF
}

.recommend_tab a:nth-child(2) {
    border-color: #A371FF;
    color: #A371FF
}

.recommend_tab a:nth-child(3) {
    border-color: #FFC334;
    color: #FFC334
}

.recommend_tab a:nth-child(4) {
    border-color: #26D8FF;
    color: #26D8FF
}

.recommend_tab_img {
    width: .5rem;
    height: .5rem
}

.recommend_text {
    color: #4A4A4A;
    font-size: .24rem
}

.recommend_marquee {
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: .34rem;
    padding-right: .24rem;
    padding-left: .24rem;
    width: 7.5rem;
    background-color: #fff;
    -webkit-flex: 1;
    flex: 1;
    border-top: 0.02rem solid #E6E6E6;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: row;
    flex-direction: row
}

.recommend_marquee_img {
    margin-right: .14rem;
    width: .3rem;
    height: .3rem;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.recommend_marquee_textbox {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center
}

.recommend_marquee_list {
    display: -webkit-flex;
    display: flex;
    width: 6.5rem;
    height: .6rem;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center
}

.recommend_marquee_content {
    display: -webkit-flex;
    display: flex;
    height: .6rem
}

.created_at_text {
    width: 1.2rem;
    color: #666;
    font-size: .24rem
}

.recommend_news {
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: .4rem;
    padding-bottom: .2rem;
    padding-left: .24rem;
    width: 7.5rem;
    background-color: #fff;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row
}

.recommend_news_img {
    width: 1.6rem;
    height: 1.6rem;
    background-color: #D8D8D8
}

.recommend_news_box {
    margin-left: .3rem
}

.recommend_news_cen {
    margin-top: .18rem;
    margin-bottom: .2rem;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
}

.recommend_news_text {
    color: #222;
    font-size: .28rem
}

.recommend_news_red {
    color: #FC335A;
    font-size: .28rem
}

.recommend_tabs_img {
    margin-right: .12rem;
    width: .36rem;
    height: .36rem
}

.recommend_news_imgs {
    margin-right: .04rem;
    margin-left: .04rem;
    width: .38rem;
    height: .38rem
}

.recommend_litab {
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    height: .78rem;
    background-color: #fff;
    background-color: #fff;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center
}

.recommend_litab_li {
    display: -webkit-flex;
    display: flex;
    height: .78rem;
    -webkit-flex: 1;
    flex: 1;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

.recommend_litab_li span {
    padding: 0 .05rem;
    height: .74rem;
    border-bottom: .04rem solid transparent;
    color: #333;
    font-size: .28rem;
    line-height: .88rem
}

.recommend_litab_li span.on {
    border-bottom: .04rem solid #1B89F8;
    color: #1B89F8
}

.list_boxdiv {
    position: relative;
    display: block;
    margin-bottom: .14rem;
    padding-right: .16rem;
    padding-left: .16rem
}

.list_box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: .08rem;
    background-color: #fff;
    -webkit-flex: 1;
    flex: 1;
}

.list_div {
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: .18rem;
    padding-right: .12rem;
    padding-left: .12rem;
    -webkit-flex: 1;
    flex: 1;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.list_img {
    margin-right: .39rem;
    margin-left: .12rem;
    width: .8rem;
    height: .8rem;
    border-radius: .4rem
}

.list_titles {
    width: 3.14rem;
    color: #393939;
    font-size: .32rem
}

.list_text_red {
    margin-right: .12rem;
    color: #666;
    font-size: .24rem
}

.list_text_red2 {
    color: #F33;
    font-size: .32rem
}

.recommend_img {
    position: absolute;
    top: 0;
    right: .12rem;
    width: .64rem;
    height: .66rem
}

.list_boxleft {
    display: -webkit-flex;
    display: flex;
    padding-top: .2rem;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center
}

.list_div_text {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center
}

.list_text_Number {
    color: #666;
    font-size: .24rem
}

.list_bomdiv {
    display: -webkit-flex;
    display: flex;
    margin-top: .14rem;
    padding-left: .12rem;
    height: .66rem;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    border-top: 0.02rem solid #E6E6E6;
}

.list_bomdiv_li {
    display: -webkit-flex;
    display: flex;
    margin-right: .18rem;
    padding: .02rem .1rem;
    height: .34rem;
    border-color: #999;
    border-style: solid;
    border-width: .02rem;
    border-radius: 18px;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

.list_bomdiv_litext {
    color: #999;
    font-size: .18rem
}

.loan_top {
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: .12rem;
    padding-bottom: .2rem;
    padding-left: .12rem;
    width: 7.5rem;
    background-color: #fff;
    -webkit-align-items: center;
    align-items: center
}

.loan_text1 {
    margin-right: .32rem;
    color: #333;
    font-size: .28rem
}

.loan_top1 {
    padding-top: .74rem;
    width: 7.26rem;
    border-radius: .08rem;
    background-color: #F4F4F4
}

.loan_top1_li {
    display: -webkit-flex;
    display: flex;
    margin-bottom: .36rem;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.loan_topli {
    display: -webkit-flex;
    display: flex;
    margin-right: .46rem;
    width: 1.48rem;
    height: .6rem;
    border-color: #ACACAC;
    border-style: solid;
    border-width: .02rem;
    border-radius: 1rem;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.loan_topli_text {
    color: #474747;
    font-size: .26rem
}

.loan_select {
    display: -webkit-flex;
    display: flex;
    width: 3.8rem;
    height: .5rem;
    border-radius: .08rem;
    background-color: #fff;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    background-color: #fff;
}

.loan_select_text {
    color: #464646;
    font-size: .26rem
}

.loan_input_text {
    display: -webkit-flex;
    display: flex;
    width: 2rem;
    height: .5rem;
    border: none;
    color: #464646;
    font-size: .26rem;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.loan_select_icon {
    margin-right: .2rem;
    margin-left: .2rem;
    width: .2rem;
    height: .25rem
}

.loan_select_icon2 {
    margin-right: .2rem;
    margin-left: .2rem;
    width: .2rem;
    height: .1rem
}

.select {
    width: 100%;
    outline: 0;
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
}

.laon_tab2 {
    display: -webkit-flex;
    display: flex;
    padding-top: 1.44rem;
    padding-bottom: .8rem;
    background-color: #F6F6F6;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.laon_tab2 li {
    margin-bottom: .7rem;
    width: 6.56rem;
    height: .8rem;
    border-radius: .9rem;
    color: #fff;
    text-align: center;
    font-size: .28rem;
    line-height: .8rem
}

.laon_tab2 li a {
    display: block;
    color: #fff
}

.laon_tab2 li:nth-child(1) {
    background-color: #1EB7FF
}

.laon_tab2 li:nth-child(2) {
    background-color: #FFA6B5
}

.laon_tab2 li:nth-child(3) {
    background-color: #FFCA57
}

.laon_tab2 li:nth-child(4) {
    background-color: #4AD4AF
}

.loan_recommend {
    display: none
}

.personal_top {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 40px;
    padding-left: 40px;
    width: 7.5rem;
    height: 3.16rem;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-position: relative
}

.personal_banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 7.5rem;
    height: 3.16rem
}

.personal_header {
    position: relative;
    width: 1.36rem;
    height: 1.36rem;
    border-radius: .68rem;
    background-color: #fff
}

.personal_name {
    color: #fff;
    font-size: .32rem
}

.personal_edit {
    position: relative;
    width: 3.6rem;
    height: .48rem
}

.personal_arrow_gray, .personal_arrow_white {
    position: relative;
    width: .16rem;
    height: .29rem
}

.personal_arrow_gray {
    opacity: .6
}

.personal_edit_text {
    color: #FFF;
    font-size: .36rem
}

.personal_edit_icon {
    margin-left: .2rem;
    width: .22rem;
    height: .23rem
}

.personal_box {
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.personal_li {
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: .4rem;
    padding-left: .4rem;
    height: 1.2rem;
    border-bottom: .02rem solid #E6E6E6;
    background-color: #fff;
    text-align: left;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

.personal_img {
    width: .66rem;
    height: .66rem
}

.personal_text {
    width: 5rem;
    color: #333;
    text-align: left;
    font-size: .28rem
}

.opinion_div {
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: .2rem;
    width: 7.5rem;
    height: .9rem;
    background-color: #fff;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.opinion_text {
    color: #333;
    font-size: .3rem
}

.loan_query {
    margin-top: .2rem
}

.loan_query_div {
    display: -webkit-flex;
    display: flex;
    margin-bottom: .02rem;
    width: 100%;
    height: 1.88rem;
    background-color: #fff;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.loan_query_logo {
    margin-right: .3rem;
    margin-left: .24rem;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: .65rem
}

.loan_query_right {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.loan_query_box {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

.loan_query_box p {
    color: #393939;
    font-size: .34rem
}

.loan_query_box span {
    margin-top: .1rem;
    margin-bottom: .1rem;
    color: #4F4F4F;
    font-size: .28rem
}

.loan_query_box i {
    color: #909090;
    font-size: .24rem
}

.loan_query_icon {
    margin-right: .24rem;
    width: .68rem;
    height: .68rem;
    background: url(../../images/lend/icon_green_call.png) center no-repeat;
    background-size: .68rem
}

.loanq_cen {
    display: -webkit-flex;
    display: flex;
    margin-top: .2rem;
    padding-top: .84rem;
    padding-bottom: 2rem;
    background-color: #fff;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center
}

.loanq_cenlogo {
    width: 1rem;
    height: 1.12rem
}

.loanq_cen p {
    margin-top: .52rem;
    margin-bottom: .08rem;
    color: #616161;
    font-size: .34rem
}

.loanq_cen span.loanq_span {
    margin-bottom: .89rem;
    color: #707070;
    font-size: .28rem
}

.loanq_cen_li {
    display: -webkit-flex;
    display: flex;
    margin-bottom: .32rem;
    width: 6rem;
    height: .98rem;
    border: .02rem solid silver;
    color: #272727;
    font-size: .34rem;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

.loan_button {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.12rem;
    background-color: #18B5F9;
    color: #FFF;
    text-align: center;
    line-height: 1.12rem;
    font-size: .34rem
}

.online_message {
    padding: .2rem .24rem
}

.online_message textarea {
    display: flex;
    padding: .28rem;
    width: 6.46rem;
    height: 3.44rem
}

.my_profile {
    margin-top: .2rem
}

.select_list {
    display: -webkit-flex;
    display: flex;
    margin-bottom: .02rem;
    width: 100%;
    height: 1rem;
    background-color: #fff;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.select_list span.select_title {
    margin-left: .24rem;
    color: #7B7B7B;
    font-size: .3rem
}

.select_right {
    display: flex;
    margin-right: .24rem;
    height: 1.1rem;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center
}

.select_right input{
    /*width:2.2rem;*/
    height:1rem;
    text-align: center;
    text-align: -webkit-center;
    /*background: url("../images/loan_down_arrow.png") right center no-repeat;*/
    background-size: 0.24rem 0.16rem;
    border: 0;
    font-size: 0.30rem;
    color: #393939;
}

.select_box {
    padding-right: .3rem;
    width: 2.2rem;
    height: 1rem;
    border: none;
    background: url(../../images/lend/loan_down_arrow.png) right center no-repeat;
    background-size: .24rem .16rem;
    color: #393939;
    text-align: right;
    font-size: .3rem;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none
}

.helpyou_title {
    margin-bottom: .2rem;
    width: 100%;
    height: .88rem;
    background: url(../../images/lend/helpyou_speaker.png) #fff .24rem center no-repeat;
    background-size: .49rem .4rem;
    line-height: .88rem
}

.helpyou_title span {
    margin-left: .92rem;
    color: #7B7B7B;
    font-size: .28rem
}

.details_top {
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: .24rem;
    padding-right: .24rem;
    padding-bottom: .36rem;
    padding-left: .24rem;
    width: 7.5rem;
    background-color: #eee;
    flex-direction: row;
    align-items: center
}

.details_box {
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: .32rem;
    width: 5.8rem;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center
}

.details_box_text {
    width: 5.8rem;
    color: #666;
    text-overflow: ellipsis;
    font-size: .24rem;
    lines: 1
}

.details_boxl {
    -webkit-align-items: center;
    align-items: center
}

.details_box_bom {
    line-height: 0.36rem;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.details_img {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: .6rem;
    background-color: #fff
}

.details_text1 {
    color: #F33;
    font-size: .32rem
}

.details_text2 {
    color: #666;
    font-size: .24rem
}

.details_div {
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: .42rem;
    padding-right: .18rem;
    padding-left: .18rem;
    width: 7.02rem;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.details_div_lefticon {
    margin-right: .1rem;
    width: .3rem;
    height: .3rem
}

.details_div_li {
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center
}

.details_div_text {
    color: #333;
    font-size: .28rem
}

.details_pentagra {
    display: -webkit-flex;
    display: flex;
    padding-top: .5rem;
    -webkit-flex-direction: row;
    flex-direction: row
}

.pentagra {
    margin-right: .06rem;
    width: .28rem;
    height: .26rem
}

.details_top1 {
    display: -webkit-flex;
    display: flex;
    margin-top: .2rem;
    background-color: #fff;
    -webkit-flex-direction: row;
    flex-direction: row
}

.details_top1_box {
    display: -webkit-flex;
    display: flex;
    padding-left: .26rem;
    width: 3.75rem;
    height: 1.56rem;
    -webkit-justify-content: center;
    justify-content: center
}

.details_top1_text1 {
    color: #9A9A9A;
    font-size: .28rem
}

.details_top1_text2 {
    margin-top: .2rem;
    color: #9A9A9A;
    font-size: .28rem
}

.details_cen {
    margin-bottom: .46rem;
    margin-left: .24rem;
    padding-top: .2rem;
    width: 7.02rem;
    border-radius: .2rem;
    background-color: #fff;
    box-shadow: 0 0 .1rem rgba(0, 0, 0, .5);
    text-align: center
}

.details_centop {
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: .6rem;
    margin-bottom: .54rem;
    padding-right: .54rem;
    padding-left: .6rem;
    width: 7.02rem;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: row;
    flex-direction: row
}

.details_cenli {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center
}

.details_cenli_box {
    position: relative;
    display: -webkit-flex;
    display: flex;
    width: 1.8rem;
    height: .82rem;
    border: .02rem solid #c4c4c4;
    border-radius: .2rem;
    flex-direction: row;
    align-items: center
}

.details_cenfr {
    margin-right: .4rem;
    margin-bottom: .24rem;
    flex-direction: row
}

.details_cenli_wire {
    position: absolute;
    top: .39rem;
    right: 0;
    width: .02rem;
    height: .5rem;
    background-color: #fff
}

.details_ceninput {
    position: relative;
    width: 100%;
    height: .82rem;
    border: none;
    background-color: transparent;
    color: #171717;
    text-align: center;
    font-size: .44rem;
    line-height: .82rem
}

.details_ceninput span {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center
}

.select_center {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: .82rem;
    outline: 0;
    border: none;
    opacity: 0;
    appearance: none;
    -webkit-appearance: none
}

.details_cenimg {
    margin-right: .16rem;
    width: .32rem;
    height: .32rem
}

.details_centext {
    color: #464646;
    font-size: .3rem
}

.details_cenbom {
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom-right-radius: .2rem;
    border-bottom-left-radius: .2rem;
    background-color: #B6BCD5;
    -webkit-flex-direction: row;
    flex-direction: row
}

.details_cenbli {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 1.28rem;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.details_cenbli_text1 {
    color: #FFF;
    font-size: .36rem
}

.details_cenbli_text2 {
    margin-top: .08rem;
    color: #FFF;
    font-size: .24rem
}

.details_li {
    margin-bottom: .02rem;
    padding-bottom: .24rem;
    background-color: #fff
}

.details_libox1 {
    display: -webkit-flex;
    display: flex;
    padding-left: .24rem;
    width: 7.5rem;
    height: 1.4rem;
    background-color: #fff;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.details_libox {
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: .24rem;
    width: 7.5rem;
    height: 1rem;
    background-color: #fff;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.details_boxli {
    margin-top: .1rem;
    margin-right: .25rem;
    padding: .05rem .2rem;
    -webkit-border-radius: .12rem;
    border-radius: .12rem;
    text-align: center;
    font-size: .28rem
}

.details_boxli_text {
    color: #666;
    font-size: .24rem;
    line-height: .48rem
}

.details_boxli_text2 {
    color: #666;
    font-size: .24rem
}

.details_title {
    padding: .24rem;
    background-color: #fff
}

.tit_tips {
    padding-left: .1rem;
    border-left: .04rem solid #01AFEE;
    font-size: .28rem
}

.details_but {
    position: fixed;
    display: block;
    bottom: .12rem;
    left: .24rem;
    width: 7.02rem;
    height: .8rem;
    border-radius: .2rem;
    background-color: #18B5F9;
    color: #fff;
    font-size: .36rem;
    text-align: center;
    line-height: 0.8rem;
}

.details_but:hover {
    color: #FFF
}

.corner_text {
    margin-left: .14rem;
    color: #333;
    font-size: .4rem
}

.introduce_div {
    display: -webkit-flex;
    display: flex;
    padding: 0 .4rem;
    background-color: #fff;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.detai_downarrow {
    position: absolute;
    top: .3rem;
    right: .14rem;
    width: .24rem;
    height: .24rem
}

.mobile_box {
    padding-top: .2rem;
    padding-bottom: .4rem;
    border-bottom: .02rem solid #F2F3F7;
    background-color: #fff
}

.mobile_box_title {
    display: -webkit-flex;
    display: flex;
    padding: .2rem .42rem;
    color: #666;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center
}

.mobile_cer_icon {
    margin-right: .3rem;
    width: .3rem;
    height: .3rem
}

.mobile_li {
    display: -webkit-flex;
    display: flex;
    padding-left: .76rem;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center
}

.mobile_li li {
    display: -webkit-flex;
    display: flex;
    margin-right: .3rem;
    width: 1.8rem;
    height: .6rem;
    min-width: 1.8rem;
    border: .02rem solid #CECECE;
    border-radius: .08rem;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.mobile_li li.cur {
    border: .02rem solid #1B89F8;
    color: #1B89F8
}

.mobile_info {
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: .4rem;
    /*width: 7.5rem;*/
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex: 1;
    flex: 1
}

.plus {
    padding-right: .2rem;
    padding-left: .2rem;
    color: #B5B5B5;
    font-size: .6rem
}

.mobile_input1 {
    width: 1.8rem;
    border-bottom: .02rem solid #f2f3f7;
    background-color: #fff;
    font-size: .32rem;
    line-height: .8rem
}

.mobile_input2 {
    width: 4rem;
    border-bottom: .02rem solid #f2f3f7;
    background-color: #fff;
    font-size: .32rem;
    line-height: .8rem
}

.mobile_cer_hint {
    margin-right: .4rem;
    width: .4rem;
    height: .4rem
}

.hint_title {
    height: .4rem;
    color: #B5B5B5;
    font-size: .28rem;
    line-height: .4rem
}

.list_title_head {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 1.1rem;
    background-color: #fff;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row
}

.list_title {
    display: -webkit-flex;
    display: flex;
    margin-top: .2rem;
    width: 100%;
    height: 1.1rem;
    background-color: #fff;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row
}

.list_title_wire {
    margin: .2rem;
    width: .04rem;
    height: .4rem;
    background-color: #18B5F9
}

.list_title_text {
    color: #393939;
    font-size: .32rem
}

.bank_list {
    display: -webkit-flex;
    display: flex;
    margin-top: .03rem;
    background-color: #fff;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /*-webkit-justify-content: center;*/
    /*justify-content: center;*/
    -webkit-align-items: center;
    align-items: center
}

.bank_li {
    display: -webkit-flex;
    display: flex;
    width: 1.87rem;
    height: 1.9rem;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.bank_li_img {
    width: .8rem;
    height: .8rem;
    border-radius: .4rem
}

.bank_li_text {
    margin-top: .1rem;
    color: #4F4F4F;
    font-size: .28rem
}

.business{
    flex-wrap:wrap;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap:wrap;
    -webkit-flex-direction: row;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
}
.business_li{
    width:3.73rem;
    height:1.28rem;
    background-color:#ffffff;
    margin-top:0.04rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}
.business_liimg{
    width:0.90rem;
    height:0.90rem;
    border-radius:0.45rem;
    margin-right:0.2rem;
}

.choose_li {
    position: relative;
    display: -webkit-flex;
    display: flex;
    margin-bottom: .03rem;
    height: 2rem;
    background-color: #fff;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center
}

.choose_bar {
    margin-left: .24rem;
    width: 2.02rem;
    height: 1.26rem;
    border-radius: .04rem
}

.choose_licon {
    display: -webkit-flex;
    display: flex;
    margin-left: .24rem;
    -webkit-flex-direction: column;
    flex-direction: column
}

.choose_arrow {
    position: absolute;
    top: .85rem;
    right: .24rem;
    width: .18rem;
    height: .32rem
}

.choose_title {
    overflow: hidden;
    width: 4rem;
    color: #393939;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .3rem
}

.choose_text {
    overflow: hidden;
    margin-top: .1rem;
    margin-bottom: .08rem;
    width: 4.5rem;
    color: #8B8B8B;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .26rem
}

.choose_red {
    color: #18B5F9;
    font-size: .24rem
}

.choose_bom {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex-direction: row
}

.choose_bomtext {
    color: #8B8B8B;
    font-size: .24rem
}

.refresh_view {
    display: flex;
    width: 100%;
    height: 1.4rem;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.loading {
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 7.5rem;
    height: 1.4rem;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.login_div {
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: .16rem;
    width: 100%;
    height: 1.1rem;
    border-bottom: .02rem solid #F2F3F7;
    background-color: #fff;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

.login_ltext {
    width: 1rem;
    color: #414141;
    font-size: .3rem
}

.login_agree {
    margin-right: .14rem;
    width: .32rem;
    height: .32rem;
    border-color: #18B5F9;
    border-style: solid;
    border-radius: .16rem;
    border-width: .01rem
}

.login_agree_img {
    width: .32rem;
    height: .32rem;
    border-radius: .16rem
}

.login_input {
    margin-left: .16rem;
    width: 4rem;
    height: 1rem;
    border: 0
}

.auth_input {
    margin-left: .16rem;
    width: 2rem;
    height: 1rem;
    border: 0
}

.agree_div {
    display: -webkit-flex;
    display: flex;
    padding-left: .16rem;
    height: .9rem;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center
}

.agree_select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: .16rem;
    width: .32rem;
    height: .32rem;
    border: .02rem solid #18B5F9;
    border-radius: .16rem
}

.agree_select.cur {
    background: url(../../images/lend/register_select.png) center no-repeat;
    background-size: .32rem
}

.agree_text {
    margin-top: .16rem;
    padding-left: .26rem;
    color: #656565;
    font-size: .28rem
}

.auth_div {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex: 1;
    flex: 1
}

.get_auth_code {
    display: -webkit-flex;
    display: flex;
    width: 1.9rem;
    height: .6rem;
    -webkit-border-radius: .3rem;
    border-radius: .3rem;
    background-color: #18B5F9;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin-right: .24rem
}

.login_action {
    display: -webkit-flex;
    display: flex;
    margin-left: .24rem;
    width: 7.02rem;
    height: 1.1rem;
    background-color: #18B5F9;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 1.5rem
}

.register_action {
    display: -webkit-flex;
    display: flex;
    margin-left: .24rem;
    width: 7.02rem;
    height: .8rem;
    border-radius: .2rem;
    background-color: #18B5F9;
    color: #fff;
    font-size: .36rem;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    margin-top: 1.36rem
}

.login_tab {
    display: -webkit-flex;
    display: flex;
    margin-bottom: .5rem;
    height: 1.1rem;
    border-bottom: .02rem solid #F2F3F7;
    -webkit-flex-direction: row;
    flex-direction: row
}

.register_div {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 5rem;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

.register_text {
    color: #888
}

.login_tabli {
    position: relative;
    display: -webkit-flex;
    display: flex;
    width: 50%;
    height: 1.1rem;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

.login_tabli.cur {
    color: #18B5F9
}

.login_tab_text {
    font-size: .32rem
}

.login_tab_wire {
    position: absolute;
    bottom: 0;
    left: .88rem;
    width: 2rem;
    height: .04rem;
    background-color: #18B5F9
}

.newbieguide_list {
    display: -webkit-flex;
    display: flex;
    margin-bottom: .02rem;
    padding-left: .24rem;
    width: 7.26rem;
    height: 1.1rem;
    background-color: #fff;
    -webkit-align-items: center;
    align-items: center
}

.newbieguide_text {
    color: #464646;
    font-size: .32rem
}

.newbie_cen {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center
}

.newbie {
    padding-right: .24rem;
    padding-left: .24rem;
    background-color: #fff
}

.newbie_title {
    padding-top: .24rem;
    padding-bottom: .5rem;
    color: #333;
    font-size: .38rem
}

.newbie_con {
    color: #464646;
    font-size: .28rem;
    line-height: .42rem
}

.newbie_bg {
    width: 3.71rem;
    height: 2.46rem
}

.newbie_title2 {
    margin-top: .6rem;
    margin-bottom: .2rem;
    color: #333;
    font-size: .32rem
}

.money_content {
    position: relative;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%
}

.service {
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: .2rem;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.service_banner {
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 7.5rem;
    height: 3.2rem;
    background-color: #fff;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.service_tab {
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: .2rem;
    width: 7.5rem;
    border-bottom: .02rem solid #ccc;
    background-color: #fff;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

.service_tab li {
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 2.68rem;
    border-right: .02rem solid #ccc;
    webkit-flex: 1;
    flex: 1;
    width: 2.5rem;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.service_tab li:last-child {
    border-right: none
}

.service_tab li a {
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 2.68rem;
    webkit-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.service_img {
    margin-bottom: .2rem;
    width: .9rem;
    height: .9rem
}

.service_title {
    color: #333;
    font-size: .28rem
}

.service_text {
    color: #666;
    font-size: .24rem
}

.strategy_banner {
    display: inline-block;
    width: 100%;
    background-color: #fff
}

.strategy_banner img {
    width: 100%
}

.strategy_tab {
    display: -webkit-flex;
    display: flex;
    margin-bottom: .2rem;
    padding: .4rem 0;
    width: 100%;
    background-color: #fff;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.strategy_tit {
    display: -webkit-flex;
    display: flex;
    width: 25%;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.strategy_ico {
    margin-bottom: .2rem;
    width: .9rem;
    height: .9rem
}

.strategy_title {
    display: inline-block;
    color: #4F4F4F;
    font-size: .28rem
}

.strategy_list li a {
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    padding: .24rem;
    width: 7.5rem;
    height: 2.48rem;
    border-bottom: .02rem solid #dfdfdf;
    background-color: #fff;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.strategy_text {
    display: -webkit-flex;
    display: flex;
    padding-right: .2rem;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.name {
    overflow: hidden;
    margin-top: .1rem;
    width: 4rem;
    color: #2F2E31;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .32rem;
    line-height: .4rem
}

.time {
    color: #979797;
    font-size: .24rem;
    line-height: .32rem
}

.strategy_images {
    width: 2.4rem;
    height: 1.8rem;
    border-radius: .2rem
}

.strategy_detail {
    padding: .24rem;
    background-color: #fff
}

.strategy_name {
    padding: .1rem 0;
    font-weight: 400;
    font-size: .4rem
}

.nav_author {
    display: inline-block;
    padding-right: .3rem;
    color: #37abcc;
    font-weight: 400;
    font-size: .3rem;
    line-height: .48rem
}

.strategy_time {
    padding-bottom: .2rem;
    font-weight: 100;
    font-size: .28rem;
    line-height: .48rem
}

.strategy_content {
    padding: .24rem 0;
    font-weight: 200;
    font-size: .32rem;
    line-height: .48rem
}

.strategy_content p {
    padding-bottom: .24rem;
    text-indent: .24rem
}

.strategy_content img {
    max-width: 100%
}

.question_list {
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    width: 7.5rem;
    background-color: #fff;
    flex-flow: row wrap;
    justify-content: flex-start
}

.question_image {
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    width: 2.5rem;
    height: 2.5rem;
    border-right: .02rem solid #dfdfdf;
    border-bottom: .02rem solid #dfdfdf;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.question_image:nth-child(3n) {
    border-right: none
}

.question_logo {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%
}

.question_top {
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    margin-bottom: .2rem;
    padding: .24rem;
    width: 100%;
    background-color: #fff;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center
}

.question_top_logo {
    width: 1.3rem;
    height: 1.3rem
}

.question_top_info {
    display: -webkit-flex;
    display: flex;
    width: 3.6rem;
    font-size: .28rem;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center
}

.question_top_tit {
    font-size: .32rem;
    line-height: .64rem
}

.question_top_tel {
    width: .68rem;
    height: .68rem
}

.question_title {
    margin-bottom: .02rem
}

.q_text {
    display: -webkit-flex;
    display: flex;
    padding: .24rem;
    background-color: #fff;
    font-size: .3rem;
    cursor: pointer;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center
}

.q_image {
    width: .48rem;
    height: .48rem;
    background: url(../../images/lend/icon_question_down.png) no-repeat center;
    background-size: contain
}

.q_image.up {
    background: url(../../images/lend/icon_question_up.png) no-repeat center;
    background-size: contain
}

.answer_text {
    display: none;
    padding: .24rem;
    color: #7C7C7C
}

.activity_li {
    box-sizing: border-box;
    margin-bottom: .28rem;
    width: 7.5rem;
    background-color: #fff
}

.activity_title {
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    padding-left: .24rem;
    width: 7.5rem;
    height: 1.32rem;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center
}

.activity_title_h1 {
    display: block;
    overflow: hidden;
    color: #414141;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .32rem;
    line-height: .48rem
}

.activity_title_time {
    display: block;
    margin-top: .04rem;
    color: #909090;
    font-size: .26rem
}

.activity_banner {
    width: 7.5rem;
    height: 3.2rem
}

.activity_conbox {
    overflow: hidden;
    box-sizing: border-box;
    padding: .24rem;
    width: 7.5rem;
    height: 1.26rem;
    color: #666;
    font-size: .28rem;
    line-height: .5rem
}

.activity_btn {
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    padding-right: .24rem;
    padding-left: .24rem;
    width: 7.5rem;
    height: .78rem;
    line-height: .78rem;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #f2f3f7;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row
}

.activity_but_text {
    color: #909090;
    font-size: .28rem
}

.add_wechat {
    background: url(../../images/lend/add_wechat_bg.png) no-repeat center top;
    background-size: contain;
    -webkit-flex-direction: column;
    flex-direction: column
}

.add_wechat_top {
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    padding-right: .5rem;
    padding-left: .5rem;
    width: 7.5rem;
    height: 5.57rem;
    text-align: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.logo_superman {
    display: block;
    margin: .5rem auto;
    width: 1.7rem;
    height: 1.7rem
}

.add_wechat_title {
    color: #FFF;
    text-align: center;
    font-size: .5rem;
    line-height: .7rem
}

.font_bold {
    font-size: .7rem;
    line-height: .7rem
}

.add_wechat_con {
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    padding-top: .4rem;
    width: 7.5rem;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.qrcode_border {
    position: relative;
    margin: .4rem auto;
    width: 4.2rem;
    height: 4.2rem
}

.qrcode_borders {
    width: 4.2rem;
    height: 4.2rem
}

.qrcode_conter {
    position: absolute;
    top: .3rem;
    left: .3rem;
    width: 3.6rem;
    height: 3.6rem
}

.qrcode_conter_text {
    display: -webkit-flex;
    display: flex;
    color: #515151;
    font-size: .28rem;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center
}

.qrcode_conter_text pan {
    display: inline-block;
    padding: .3rem
}

.add_wechat_box {
    display: -webkit-flex;
    display: flex;
    margin: .4rem auto;
    width: 7.5rem;
    font-size: .3rem;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.add_wechat_btn1 {
    display: -webkit-flex;
    display: flex;
    width: 2.6rem;
    height: .6rem;
    border: 1px solid #979797;
    border-radius: .08rem;
    color: #393939;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.add_wechat_btn2 {
    display: -webkit-flex;
    display: flex;
    margin-left: .24rem;
    width: 1.6rem;
    height: .6rem;
    border-radius: .08rem;
    background-color: #18B5F9;
    color: #fff;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.down_text {
    display: -webkit-flex;
    display: flex;
    color: #18B5F9;
    font-size: .34rem;
    line-height: .34rem
}

.add_wechat_btn3 {
    display: -webkit-flex;
    display: flex;
    margin: .4rem auto;
    width: 4.5rem;
    height: .8rem;
    border-radius: .08rem;
    background-color: #18B5F9;
    color: #fff;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.save_but {
    width: 7rem;
    height: 0.9rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    background-color: #18B5F9;
    font-size: 0.34rem;
    color: #FFFFFF;
    border-radius: 0.45rem;
    margin-top: 1rem;
}

.personal_edit {
    position: relative;
    width: 3.6rem;
    height: .48rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}

.refresh_view {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    width: 7.5rem;
    height: 1.4rem;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.gif {
    width: 1.77rem;
    height: 1.08rem;
}

.end_text {
    font-size: 0.3rem;
    color: #000000;
}