<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>网贷返佣列表</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="{$_W['siteroot']}/addons/wangdai_chaoshi/static/images/favicon.ico">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="{$_W['siteroot']}/addons/wangdai_chaoshi/static/css/light7.css">
		<link rel="stylesheet" href="{$_W['siteroot']}/addons/wangdai_chaoshi/static/css/icon.css">
		<link rel="stylesheet" href="{$_W['siteroot']}/addons/wangdai_chaoshi/static/css/style.css?v={$_W['timestamp']}">
	</head>
	<style>

		.card-lists img{
			border-radius: 5px;
		}
		.card-lists .item-inner {
			display: block;
			padding: 0;
			border-bottom: 0;
		}
		.card-lists .item-text {
			/* height: 2.1rem; */
			-webkit-line-clamp: 1;
			height: 1.1rem;
			font-size: 14px;
		}
		.card-lists .item-text .num{
			color: #4f8bdc;
		}
		.card-lists li{
			padding: .5rem 0;
			border-bottom: 1px solid #e7e7e7;
		}
		.card-lists li:last-child{
			border-bottom: 0;
		}
	</style>
	<body>
		<div class="page bg-white">
			<div class="content">
				<div class="list-block list-border-none no-margin card-lists">
				<ul class="list-card">			
					<li>
						<a href="{php echo $this->createMobileUrl('user',array('op' => 'fan'))}" class="item-link item-content external">
					
							<div class="item-inner">
								<div class="item-title" style="text-align:center;margin-top:10px">网贷办卡返佣</div>
							
								<!--<div class="item-text color-gray"><span class="num">{$row['num']}</span>人已申请</div>-->
							</div>
						</a>
					</li>
					<li>
						<a href="{php echo $this->createMobileUrl('user',array('op' => 'member_rebate'))}" class="item-link item-content external">
					
							<div class="item-inner">
								<div class="item-title" style="text-align:center;margin-top:10px">会员升级返佣</div>
								
								<!--<div class="item-text color-gray"><span class="num">{$row['num']}</span>人已申请</div>-->
							</div>
						</a>
					</li>
				
				</ul>
				</div>
			</div>
		</div>
		<nav class="bar bar-tab">
				<a class="tab-item external" href="{php echo $this->createMobileUrl('index')}">
					<span class="icon mdi mdi-home"></span>
					<span class="tab-label">办卡</span>
				</a>
				<a class="tab-item external" href="{php echo $this->createMobileUrl('news')}">
					<span class="icon mdi mdi-file-document"></span>
					<span class="tab-label">资讯</span>
				</a>
				<a class="tab-item external" href="{php echo $this->createMobileUrl('lend')}">
					<span class="icon mdi mdi-layers"></span>
					<span class="tab-label">用钱</span>
				</a>
				<a class="tab-item external active" href="{php echo $this->createMobileUrl('user')}">
					<span class="icon mdi mdi-account-circle"></span>
					<span class="tab-label">我的</span>
				</a>
			</nav>
		<script src="{$_W['siteroot']}/addons/wangdai_chaoshi/static/js/jquery.js"></script>
		<script src="{$_W['siteroot']}/addons/wangdai_chaoshi/static/js/light7.js"></script>
		<script src="{$_W['siteroot']}/addons/wangdai_chaoshi/static/js/common.js?v={$_W['timestamp']}"></script>
		{php echo register_jssdk(false);} 
		<script>
			wx.ready(function () {
		        sharedata = {
		            title: "{$config['share_title']}",
		            desc: "{$config['share_desc']}",
		            link: "{$_W['siteroot']}{php echo $this->createMobileUrl('index')}",
		            imgUrl: "{$_W['attachurl']}{$config['share_img']}",//本域链接
		        };
				wx.onMenuShareAppMessage(sharedata);
				wx.onMenuShareTimeline(sharedata);
				wx.onMenuShareQQ(sharedata);
				wx.onMenuShareQZone(sharedata);
				wx.onMenuShareWeibo(sharedata);
			});
		</script>
	</body>

</html>